<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-prevent-screenshot-coffice"
        version="1.0.1">
    <name>Screenshot Blocker</name>
    <description>Prevents and detects screenshots on mobile apps</description>
    <license>MIT</license>
    <keywords>cordova,screenshot,prevent,detect</keywords>
    <author>Raphael CR93</author>

    <!-- JS Interface -->
    <js-module src="www/screenshot.js" name="Screenshot">
        <clobbers target="plugins.screenshot" />
    </js-module>

    <!-- Android (keep existing) -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Screenshot">
                <param name="android-package" value="com.coffice.ScreenshotBlocker" />
            </feature>
        </config-file>
        <source-file src="src/android/com/coffice/PermissionHelper.java" target-dir="src/com/coffice" />
        <source-file src="src/android/com/coffice/ScreenshotContentObserver.java" target-dir="src/com/coffice" />
        <source-file src="src/android/com/coffice/ScreenshotBlocker.java" target-dir="src/com/coffice" />
    </platform>

    <!-- iOS (extend with hooks) -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Screenshot">
                <param name="ios-package" value="ScreenshotBlocker" />
            </feature>
        </config-file>
        <header-file src="src/ios/ScreenshotBlocker.h" />
        <source-file src="src/ios/ScreenshotBlocker.m" />
        <source-file src="src/ios/ScreenRecordingDetector.h" />
        <source-file src="src/ios/ScreenRecordingDetector.m" />

        <!-- Hook to inject into AppDelegate.m -->
        <hook type="after_prepare" src="hooks/after_prepare.js" />
    </platform>
</plugin>
